
:root {
    --main-bg-color: rgb(199, 199, 199);
    --main-color: rgb(85, 85, 85);
  }

search {
    background-color: var(--main-bg-color) !important ;
    color: var(--main-color) !important;
}

.panel-body {
    background-color: var(--main-bg-color) !important ;
    color: var(--main-color) !important;
}


.app-content {
    background-color: var(--main-bg-color) !important ;
    color: var(--main-color) !important;
}

.app-pad {
    background-color: var(--main-bg-color) !important ;
    color: var(--main-color) !important;
}

.app-pad-h {
    background-color: var(--main-bg-color) !important ;
    color: var(--main-color) !important;
}

.app-links {
    background-color: var(--main-bg-color) !important ;
    color: var(--main-color) !important;
}

.app-header {
    background-color: var(--main-bg-color) !important ;
    color: var(--main-color) !important;
}

.switch-label {
    background-color: var(--main-bg-color) !important ;
    color: var(--main-color) !important;
}

.filename {
    background-color: var(--main-bg-color) !important ;
}

.app-scroll {
    background-color: var(--main-bg-color) !important ;
}

.app-details {
    background-color: var(--main-bg-color) !important ;
    color: var(--main-color) !important;
}

.app-pad {
    background-color: var(--main-bg-color) !important ;
    color: var(--main-color) !important;
}

.app-header {
    background-color: var(--main-bg-color) !important ;
    color: var(--main-color) !important;
}
